<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
</head>
<body>
    <form action="/todo/list" method="post">
        <input type="text" name="name" value="" />
        <button type="submit">Login</button>
    </form>
</body>
</html>