@model BankOfSimba.Models.BankAccount

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Simba</title>
</head>
<body>
    
    <p>Name: @Model.Name</p>
    <p>Balance: @Model.Balance.ToString("N2")  @Model.Currency</p>
    <p>Animal: @Model.AnimalType</p>
     
</body>
</html>
