@model System.Collections.Generic.List<ListingTodos.Models.Todo>;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TODOs</title>
</head>
<body>
    <h1>TODOs for today:</h1>
    @foreach (var item in Model)
    {
    <ul>
        <li>@item.Title</li>
    </ul>
    }
</body>
</html>