@model System.Collections.Generic.List<ListingTodos.Models.Todo>;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>TODOs for today:</h2>
    @foreach (var item in Model)
    {
        <ul>
            <li>@item.Title</li>
        </ul>
    }
</body>
</html>